.banner{
    color: white;
    object-fit: contain;
    height: 448px;
}
.banner_contents{
    margin-left: 30px;
    margin-top: 140px;
    height: 190px;

}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.banner_description{
    font-size: 1rem;
    font-weight: 400;
}